html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: arial, sans-serif;
    margin: 0;
    min-width:960px;
}

nav{
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 12px 12px 0 12px;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    padding: 0 15px;
    font-size: 13px;      
}

nav a {
    text-decoration: none;
    color: black;
    line-height: 28px;
}

nav a:hover:not([class= "btn"]) {
    text-decoration: underline;
}

nav .btn {
    color: #ffffff;
    display: block;
    font-weight: bold;
}

#button {
    background-color: #4285F4;
}

.main{
    text-align: center;
    /* border: 1px solid red; */
    padding-top: 10rem;
    margin-bottom: 3rem;
}

.main .search{
    color: rgb(163, 154, 154);
}

.main .mic {
    color: #4285F4;
}

.main img {
    height: 100px;
    width: 280px;
    margin-bottom: 2.5rem;
}

.main .searchbox {
    border: 1.25px solid #ececee;
    width: 600px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 0 3px #ececee, 0 0 5px #ececee;
}

.main .searchbox input {
    width: 500px;
    height: 35px;
    margin: 5px 0;
    font-size: 16px;
    border: transparent;
    outline: none;
    padding: 0 10px;
}

.main .searchbox input::placeholder {
    color: #8B8B8B;
    font-size: 15px;
}

.main button {
    margin: 2rem 0.5rem;
    padding: 10px 20px;
    border-radius: 5%;
    border: none;
    background-color: #F2F2F2;
}

.main button a {
    text-decoration: none;
    color: rgb(61, 59, 59);
}

.main button:hover {
    border: 0.5px solid rgb(163, 154, 154);
}

.main .language {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 13px;  
}

.main .language p {
    padding-top: 0;
    margin: 0;
    padding: 0;
}

.main .language ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main .language ul li {
    display: inline;
    margin: 0;
    padding: 0 0.25rem;
}

.main .language li a {
    text-decoration: none;
}

.main .language li a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px; 
    min-width: 960px;
}

footer p {
    border-top: outset;
    padding: 0 0.8rem;
    margin: 0;
    line-height: 2.25rem;
    background-color: #F2F2F2;
    color: rgb(163, 154, 154);
}

footer .list {
    border-top: outset;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.rightfooter li, .leftfooter li {
    display: inline-block;
    padding: 0 0.8rem;
}

footer .list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
    line-height: 2.25rem;
}

footer a {
    text-decoration: none;
    color: rgb(163, 154, 154);
}

footer a:hover {
    text-decoration: underline;
}